<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Gwiki - {{title}}</title>
  <meta name="description" content="Hierarchical Wiki">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <!-- <link rel="icon" type="image/png" href="/images/favicon.ico"> -->
 
  <!-- CDNs -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="header">
<a href="/" class="logo">Gwiki</a>
  <div class="header-right">
  <a href="/search">Search</a>	  
    {{#if logged_in_user}}
    <a href="/logout">Logout {{logged_in_user}}</a>
    {{else}}
  <a href="/register">Register</a>
  <a href="/login">Login</a>
    {{/if}}
</div> 
</div>
<!-- div id="content"> -->
<!-- Primary Page Layout -->
  <div class="container">
    <div class="row">
    <!-- <div class="one-half column"> -->
      <div class="10 column" style="margin-top: 10px">
        {{{body}}}
      </div>
    </div>
  </div>
  <!--< /div>  --><!-- content -->
</body>
</html>
